*.aux
*.bbl
*.bcf
*.blg
*-blx.bib
*.dvi
*.fls
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.nlo
*.out
*.swp
*.toc
*.fdb_latexmk
*.pdfsync
*.run.xml
*.synctex.gz
*.nav
*.snm
*.vrb
_minted-*
